

<EditForm Model="@robo" OnValidSubmit="@OnValidSubmit">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="cedula">Cedula</label>
        <div class="col-sm-4">
            <InputText id="cedula" @bind-Value="@robo.Cedula" class="form-control" />
            <ValidationMessage For="@(()=> robo.Cedula)" />
        </div>
        <label class="col-sm-1 col-form-label" for="name">Nombre</label>
        <div class="col-sm-4">
            <InputText id="name" @bind-Value="@robo.Nombre" class="form-control" />
            <ValidationMessage For="@(()=> robo.Nombre)" />
        </div>
        <label class="col-sm-1 col-form-label" for="fecha">Fecha</label>
        <div class="col-sm-4">
            <InputText id="name" @bind="@robo.Fecha" class="form-control" />
            <ValidationMessage For="@(()=> robo.Fecha)" />
        </div>
        <label class="col-sm-1 col-form-label" for="sustraccion">Sustracion</label>
        <div class="col-sm-4">
            <InputText id="name" @bind-Value="@robo.Sustraccion" class="form-control" />
            <ValidationMessage For="@(()=> robo.Sustraccion)" />
        </div>
        <label class="col-sm-1 col-form-label" for="valor">Valor</label>
        <div class="col-sm-4">
            <InputText id="name" @bind="@robo.Valor" class="form-control" />
            <ValidationMessage For="@(()=> robo.Valor)" />
        </div>
        <label class="col-sm-1 col-form-label" for="lugar">Lugar</label>
        <div class="col-sm-4">
            <InputText id="name" @bind-Value="@robo.Lugar" class="form-control" />
            <ValidationMessage For="@(()=> robo.Lugar)" />
        </div>
        <label class="col-sm-1 col-form-label" for="latitud">Latitud</label>
        <div class="col-sm-4">
            <InputText id="name" @bind="@robo.Latitud" class="form-control" />
            <ValidationMessage For="@(()=> robo.Latitud)" />
        </div>
        <label class="col-sm-1 col-form-label" for="longitud">Longitud</label>
        <div class="col-sm-4">
            <InputText id="name" @bind="@robo.Longitud" class="form-control" />
            <ValidationMessage For="@(()=> robo.Longitud)" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">@TextoBoton</button>
        <a href="indice-robos" class="btn btn-primary">Volver</a>
    </div>
    <DataAnnotationsValidator/>

</EditForm>

<h3>FormRobo</h3>

@code {
    [Parameter]
    public Robo robo { get; set; } = new Robo();
    [Parameter]
    public string TextoBoton { get; set; } = "Guardar";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
